.App {
  min-height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-size: 200px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-left: 80px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.search-button {
  background: DEF5E5;
  border: none;
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
  margin-left: 20px;
}

.recipes {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 420px);
  margin-top: 30px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.255);
  border-radius: 20px;
  width: 86vw;
  gap: 20px;
  margin-bottom: 40px;
}